html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body { 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%; 
  line-height: 1; 
  background-image: url('background2.png');
  color: #535353;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 65px;
}

::selection { background: #c8e7f6; }
::-moz-selection { background: #c8e7f6; }
::-webkit-selection { background: #c8e7f6; }

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 {
  display: block;
  font-family: 'Milonga', 'Trebuchet MS', Georgia, serif;
  color: #FFF;
  font-size: 4.2em;
  font-weight: normal;
  text-align: center;
  margin-left: 95px;
}

h2 {
  font-size: 2.5em;
  line-height: 3.15em;
  margin-bottom: 1px;
  color: #FFF;
}

p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-top: 15px;
  margin-bottom: 8px;
  color: #fff;
}


a { color: #ffffff; }
a:hover { color: #ffffff; }

#notice {
  font-size: 2.0em;
  line-height: 2.5em;  
  color: #FFF;
}

#title {
  font-size: 1.65em;
  line-height: 2.0em;
  margin-bottom: 8px;
  color: #FFF;
  padding-left: 165px;
}

#alert {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 8px;
  color: #FF0000;
}

#log {
  font-size: 1.2em;
  line-height: 1.2em;
  color: #FFF;
  margin-top: 65px;
  margin-bottom: 2px;
}


#nav {
  width: 1432px;
  height: 140px;
  border-radius: 5px;
  font-size: 1.4em;
  font-color: #fff;
  line-height: 1.5em;
  margin-bottom: 1px;
  padding-left: 5px;
  background-color:rgba(75,75,75,0.40); 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

#w {
  width: 1000px;
  margin:  auto;
  padding: 5px 44px; 
  background-color:rgba(75,75,75,0.20); 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

#logo {
  float: right;
  width: 170px;
  height: 140px;
  background-image: url('tubestockinvertedsmall.png');

}

#usersnav {
  display: block;
  margin-top: 14px;
  margin-bottom: 0px;
}

#usersnav ul {
  display: block;
  padding: 15px 77px;
}
#usersnav ul li {
  display: inline;
  margin-right: 7px;
}

.search_input {
  float: right;
  background-image:transparent url('magnifyingglass.png') no-repeat 6px 4px; 
}

#usersnav ul li a {
  padding: 4px 6px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  background: #5C005C;
  text-shadow: 19px 6px 1 rgba(0,0,0,0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#usersnav ul li a:hover {
  background: #990099;
  text-shadow: 19px 6px 1 rgba(0,0,0,0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}


/* video list styles */
#videoslisting { display: block; }
#videoslisting li { display: block; margin-bottom: 26px; }

#videoslisting li .videothumb {
  float: left;
  margin-right: 15px;
}

#videoslisting li .meta { 
  float: left;
  padding-top: 15px;
}
#videoslisting li .meta p { margin-bottom: 4px; }

a.external { 
  padding-right: 15px;
  background: url('images/new_window.png') right center no-repeat; /* http://www.shapes4free.com/vector-icons/external-link-icons/ */
}


.center { text-align: center; }

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


